:root {
    --laranja-principal: #e1945d;
    --branco-principal: #f8efde;
    --verde-principal: #8ea08c;
}

body {
    background-color: var(--verde-principal);
}

header {
    display: flex;
    background-color: var(--laranja-principal);
    justify-content: space-evenly;
    align-items: center;
    color: var(--branco-principal);
    font-size: 1.1em;
    padding: 1em 4em;
}

.menu {
    padding: 2em;
    display: flex;
    gap: 1.5em;
}

h1 a{
    text-decoration: none;
    color: var(--branco-principal);
}

nav.menu a {
    text-decoration: none;
    color: var(--branco-principal);
}

.missao {
    background-color: var(--branco-principal);
    padding: 2em;
    color: var(--verde-principal);
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    padding: 1em 4em;
    align-items: center;
    gap: 2em;
}

#doguinho1 {
    border-radius: 3%;
    border: #8ea08c 0.3em solid;
    height: 35vh;
}

.texto_missao {
    display: flex;
    flex-direction: column;
    gap: 1em;
}