@import url('styles/header.css');



:root {
    --laranja-principal: #e1945d;
    --laranja-secundario: #a66736;
    --branco-principal: #f8efde;
    --verde-principal: #8ea08c;
    --fonte-princioal: 'Public Sans', sans-serif;
}

body {
    background-color: var(--verde-principal);
    font-family: var(--fonte-princioal);
}

.missao {
    background-color: var(--branco-principal);
    color: var(--verde-principal);
    display: flex;
    align-items: center;
    padding: 2em;
    gap: 2em;
    justify-content: space-between;
}

.imagens__missao {
    display: flex;
    gap: 2em;
    align-items: center;
    padding-right: 2em;
}

/* .imagens__doguinhos_esquerda {
    display: flex;
    flex-direction: column;
    gap: 10em;
} */

.doguinho {
    border-radius: 3%;
    max-width: 20em;
}

#doguinho__esquerda {
    height: 60vh;
    border-radius: 3%;
}

.imagens__doguinhos_direita {
    display: flex;
    gap: 2em;
    flex-direction: column;
}

.texto__missao{
    padding-left: 20em;
}
